.address {
  position: relative;

  width: 100%;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    height: 400px;
  }
}

.address__content {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 25px 20px;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    padding: 59px 70px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 110px;
    top: 95px;
    z-index: 10;

    width: 565px;
    padding: 59px 80px;

    background-color: #ffffff;
  }
}

.address__title {
  margin: 0;
  margin-right: 18px;

  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.address__geo {
  margin: 0;

  font-family: $additional-font;
  line-height: 20px;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-top: -3px;

    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.address__map {
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.address--inner {
  background-color: #f2f2f2;
}

.address__br {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 19px;
  }
}
