.card {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 19px 20px 25px;

  border-bottom: 1px solid #ededed;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: none;
    grid-template-rows: none;
    padding: 162px 38px 37px;

    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    padding: 165px 39px 38px;
    justify-content: flex-end;
  }

  &:first-of-type .card__img--small {
    left: calc(50% - 34px);
    bottom: 25px;

    @media (min-width: $tablet-width) {
      left: calc(50% - 81.5px);
      bottom: auto;
    }
  }

  &:nth-of-type(5) {
    padding-top: 164px;
  }

  &:nth-of-type(6) {
    padding-top: 164px;
  }
}

.card__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  margin-bottom: 22px;

  font-family: $additional-font;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 31px;

    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }

  .card__item-definition:nth-of-type(1) {
    margin-right: 2px;
  }
}

.card__item-title {
  @media (min-width: $tablet-width) {
    padding: 6px 0 9px;

    border-bottom: 1px solid #cdcdcd;
  }
}

.card__item-definition {
  margin: 0;

  text-align: right;

  @media (min-width: $tablet-width) {
    padding: 6px 0 9px;

    border-bottom: 1px solid #cdcdcd;
  }
}

.card__link {
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
}

.card__title {
  width: 80px;
  margin: 0;
  margin-bottom: 14px;

  font-size: 16px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    width: 140px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 19px;
    margin-left: 6px;

    line-height: 21px;
  }
}

.card__picture {
  position: relative;

  grid-row: 1/3;
}

.card__img {
  position: absolute;

  grid-row: 1/3;
  align-self: center;
  margin: 0 auto;
}

.card__img--small {
  left: calc(50% - 35px);
  bottom: 18px;

  @media (min-width: $tablet-width) {
    bottom: auto;
    top: -206px;
    left: calc(50% - 81.5px);

    width: 163px;
    height: 172px;
  }

  @media (min-width: $desktop-width) {
    top: -216px;
  }
}

.card__img--big {
  left: calc(50% - 42px);
  bottom: 13px;

  @media (min-width: $tablet-width) {
    bottom: auto;
    top: -234px;
    left: calc(50% - 84px);

    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    top: -245px;

    width: 172px;
  }
}

.card__button {
  display: block;
  grid-column: 1/3;
  align-self: center;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding: 10px 93px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 53px;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}
