.card-row__definition {
  font-family: $additional-font;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.card-row__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
