.card-row {
  margin-bottom: 5px;
  padding: 13px 0;

  border-top: 1px solid #cdcdcd;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    margin-bottom: 0;
    padding: 25px 37px 28px;
    grid-template-columns: 1fr 1fr;
    row-gap: 23px;

    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;

    &:nth-of-type(2) {
      .card-row__definition:first-of-type {
        margin-right: 9px;
      }
    }

    &:nth-of-type(4) {
      .card-row__definition:first-child {
        margin-right: 51px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    padding: 14px 0 17px;
    grid-template-columns: 286px 288px 244px;
    column-gap: 38px;

    border-right: none;
    border-left: none;

    &:nth-of-type(2) {
      .card-row__definition:nth-of-type(2) {
        margin-right: 8px;
      }
    }
  }

  &:last-of-type {
    padding-bottom: 17px;
    margin-bottom: 0;

    border-bottom: 1px solid #cdcdcd;

    @media (min-width: $tablet-width) {
      padding-bottom: 28px;
    }
  }
}

.card-row__list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-top: 2px;
    justify-content: flex-end;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
  }
}

.card-row__definition {
  margin: 0;

  font-family: $additional-font;
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-left: 51px;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.card-row__title {
  margin: 0;
  margin-bottom: 13px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.card-row__button {
  display: block;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 92px;
    grid-column: auto;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}
