.catalog-sections {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding-top: 82px;
    padding-bottom: 0;
  }
}

.catalog-sections__card {
  padding: 30px 20px 22px;
  margin-bottom: 20px;

  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    padding: 77px 62px 52px 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
    padding: 77px 52px 59px;
  }
}

.catalog-sections__card:last-child {
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.catalog-sections__title {
  position: relative;

  margin: 0;
  margin-bottom: 29px;
  padding-left: 71px;

  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    padding-left: 0;
    padding-right: 254px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    padding-left: 162px;
    padding-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -7px;

    width: 67px;
    height: 53px;

    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      top: auto;
      left: auto;
    }
  }
}

.catalog-sections__card:nth-of-type(1) .catalog-sections__title::before {
  background-image: url("../../img/icons/catalog-slim.svg");

  @media (min-width: $tablet-width) {
    right: 0;
    top: 4px;

    width: 200px;
    height: 211px;

    background-image: url("../../img/icons/catalog-slim-tablet.svg");
  }

  @media (min-width: $desktop-width) {
    left: 0;
    top: -36px;

    width: 100px;
    height: 106px;

    background-image: url("../../img/icons/catalog-slim-desktop.svg");
  }
}

.catalog-sections__card:nth-of-type(2) .catalog-sections__title::before {
  left: -7px;

  background-image: url("../../img/icons/catalog-pro.svg");

  @media (min-width: $tablet-width) {
    left: auto;
    top: 14px;
    right: -34px;

    width: 268px;
    height: 200px;

    background-image: url("../../img/icons/catalog-pro-tablet.svg");
  }

  @media (min-width: $desktop-width) {
    left: -19px;
    top: -30px;

    width: 134px;
    height: 100px;

    background-image: url("../../img/icons/catalog-pro-desktop.svg");
  }
}

.catalog-sections__text {
  margin: 0;
  padding-bottom: 23px;

  border-bottom: 1px solid #d9d9d9;

  font-family: $additional-font;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
    padding-bottom: 0;
    padding-right: 254px;

    color: #000000;

    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
    padding-right: 0;
  }
}

.catalog-sections__link {
  position: relative;

  display: block;
  max-width: 200px;
  margin-top: 18px;
  padding-right: 75px;

  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 0;

    font-size: 20px;
    line-height: 30px;
  }

  &:hover::after {
    width: 32px;

    background-image: url("../../img/icons/arrow-big.svg");
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 6px);
    left: 100px;

    width: 24px;
    height: 12px;

    background-image: url("../../img/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      left: 133px;
    }
  }
}

.catalog-sections__link--pro::after {
  left: 129px;
}
