.copyright {
  font-family: $additional-font;
  font-size: 16px;
  color: #444444;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.copyright__logo {
  margin-left: 22px;
}
