.field {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 13px;
  align-items: center;

  @media (min-width: $tablet-width) {
    column-gap: 18px;
  }
}

.field--comment {
  display: block;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 62px;
  }
}

.field__label {
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.field__input {
  padding: 13px 15px;
  margin: 0;

  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  outline: 1px solid #e7e7e7;
  border: none;

  &:hover {
    outline-color: #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 21px 10px 19px;
    font-size: 20px;
    line-height: 30px;
  }
}

.field__input--comment {
  width: 100%;
  height: 150px;
  padding: 9px 12px 13px 15px;

  @media (min-width: $tablet-width) {
    height: 174px;
    padding: 9px 12px 13px 19px;
  }
}

.field__input[type="email"] {
  padding: 13px 8px 13px 13px;
  padding-right: 45px;

  &:focus + .field__icon {
    stroke: #68b738;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 24px 11px;
  }
}

.field__input[type="tel"] {
  padding: 13px 12px;
  padding-right: 45px;

  &:focus + .field__icon {
    fill: #68b738;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 16px;
  }
}

.field__icon {
  position: absolute;
}

.field__icon--email {
  right: 16px;

  stroke: #222222;
  fill: transparent;

  @media (min-width: $tablet-width) {
    right: 14px;
  }

  @media (min-width: $desktop-width) {
    right: 20px;
  }
}

.field__icon--phone {
  right: 11px;

  @media (min-width: $desktop-width) {
    right: 14px;
  }
}

.field__input--error {
  outline: 2px solid #ff8282;
}

.field__input--error[type="email"] + .field__icon {
  stroke: #ff8282;
}

.field__input--error[type="tel"] + .field__icon {
  fill: #ff8282;
}
