.page-footer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  background-color: #f2f2f2;
}

.page-footer__wrapper {
  position: relative;

  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 39px 20px 22px;
  flex-direction: column;

  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      top: 92px;
      left: 20px;
      right: 20px;

      height: 1px;

      background-color: #d9d9d9;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 59px 30px 55px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 55px 110px 52px;
  }
}

.page-footer__wrapper--form {
  @media (min-width: $tablet-width) {
    padding-right: 70px;
    padding-left: 70px;
  }
}

.page-footer__wrapper--catalog {
  padding-top: 37px;

  @media (min-width: $tablet-width) {
    padding-top: 59px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 57px;
  }
}

.page-footer__logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    margin-top: 7px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__logo-text {
  @media (min-width: $tablet-width) {
    align-self: center;
  }
}
