.page-main__section {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding-right: 110px;
    padding-left: 110px;
  }
}

.page-main__catalog {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 110px;
  }
}

.page-main__title {
  width: 320px;
  padding: 0 20px;
  margin-bottom: 0;
  margin-top: 27px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin: 65px 0 85px;
    padding: 0 30px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 74px auto 165px;
    padding: 0 110px;
  }
}

.page-main__title--catalog {
  padding-bottom: 41px;

  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;

    border-bottom: none;
  }
}

.page-main__title--form {
  margin-bottom: 37px;
}

.page-main__text {
  padding: 0 20px;
  margin: 37px 0 39px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin: 54px auto 66px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 56px auto 66px;
    padding: 0 110px;
  }
}
