.page-main__section {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding-right: 110px;
    padding-left: 110px;
  }
}

.page-main__catalog {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 110px;
  }
}

.page-main__title {
  margin: 27px 0 0 20px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin: 66px 0 85px 70px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    left: calc(50% - 610px);

    max-width: 1200px;
    margin: 74px 0 165px;
    padding: 0;
  }
}

.page-main__title--catalog {
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    margin-bottom: 163px;
    padding-bottom: 0;

    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 165px;
  }
}

.page-main__title--form {
  margin-bottom: 37px;

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.page-main__text {
  margin: 37px 0 39px 20px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 54px 0 67px 70px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto 66px;
    padding: 0 110px;
  }
}
