.process {
  padding-bottom: 53px;

  @media (min-width: $tablet-width) {
    padding-bottom: 103px;

    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 127px;

    border-bottom: none;
  }

  br {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline;
    }
  }
}

.process__list {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 134px 60px;

    counter-reset: process;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 80px;
  }
}

.process__list .process__item:nth-child(1)::before {
  background-image: url("../../img/icons/process-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.process__list .process__item:nth-child(2)::before {
  background-image: url("../../img/icons/process-2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.process__list .process__item:nth-child(3)::before {
  background-image: url("../../img/icons/process-3.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.process__list .process__item:nth-child(4)::before {
  background-image: url("../../img/icons/process-4.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.process__item {
  position: relative;

  min-height: 54px;
  padding-left: 80px;
  padding-top: 2px;
  margin-bottom: 24px;

  font-family: $additional-font;
  color: #444444;

  list-style-type: none;
  counter-increment: process;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 111px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;

    background-color: #68b738;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: counter(process);
      position: absolute;
      top: 0;
      right: 78px;

      font-family: $main-font;
      font-size: 280px;
      line-height: 200px;
      color: #f2f2f2;

      z-index: -3;
    }

    @media (min-width: $desktop-width) {
      right: -2px;
    }
  }

  &:first-child::after {
    right: 94px;

    @media (min-width: $desktop-width) {
      right: 16px;
    }
  }
}

.process__item:last-child {
  margin-bottom: 0;
}

.process__title {
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }
}
