.review {
  padding-top: 25px;
  padding-bottom: 40px;

  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    padding-top: 43px;
    padding-bottom: 55px;
  }
}

.review__title {
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }
}

.review__text {
  margin: 0;
  margin-bottom: 20px;

  font-family: $additional-font;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.review__list {
  display: grid;
  margin: 0;
  margin-bottom: 20px;
  grid-template-columns: 124px 124px;
  column-gap: 32px;
  justify-content: center;
}

.review__term {
  position: relative;
  top: -9px;

  width: 87px;
  margin: 0 auto;

  font-family: $additional-font;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;

  background-color: #eaeaea;
}

.review__definition {
  display: flex;
  width: 124px;
  height: 56px;
  margin: 0;
  order: -1;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.review__cost {
  margin: 0;
  margin-bottom: 40px;

  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
