.show-more {
  position: relative;

  padding: 77px 20px 25px;

  @media (min-width: $tablet-width) {
    display: grid;
    padding: 161px 39px 39px;

    border: 2px solid #f2f2f2;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 40px;
    left: calc(50% - 15px);

    width: 30px;
    height: 2px;

    background-color: #d3d3d3;

    @media (min-width: $tablet-width) {
      top: 82px;
      left: calc(50% - 30px);

      width: 60px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }

  br {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline;
    }
  }
}

.show-more__title {
  margin: 0;
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  color: #111111;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;

    font-size: 20px;
    line-height: 22px;
  }
}

.show-more__text {
  margin: 0;
  margin-bottom: 21px;

  font-family: $additional-font;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;

    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    min-width: 167px;
  }
}

.show-more__button {
  display: block;
  height: 40px;
  padding: 10px 0;

  font-size: 16px;
  line-height: 20px;
  color: #444444;

  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(#444444, 0.3);
  }
}
