.social {
  display: flex;
  min-width: 125px;
  margin: 0 auto;
  padding: 4px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 50px;

  list-style-type: none;
}

.social__item--facebook {
  width: 21px;
}

.social__item--vk {
  width: 13px;
  margin-right: 34px;
}

.social__item--instagram {
  margin-right: 27px;
}

.social__link {
  display: flex;
  width: 30px;
  height: 50px;
  align-items: center;
  justify-content: center;

  fill: #666666;

  &:active {
    opacity: 0.3;
  }
}

.social__link:not(.social__link--facebook):hover {
  fill: #68b738;
}

.social__link--facebook {
  fill: transparent;
  stroke: #666666;

  &:hover {
    stroke: #68b738;
  }
}
