.social {
  display: flex;
  min-width: 125px;
  margin: 0 auto;
  padding: 4px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    margin-left: 32px;
  }
}

.social__item {
  display: flex;
  width: 30px;
  height: 50px;
  align-items: center;
  justify-content: center;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    height: auto;
    align-items: initial;
    justify-content: initial;
  }
}

.social__item--facebook {
  @media (max-width: $mobile-width-only) {
    width: 21px;
  }
}

.social__item--vk {
  @media (max-width: $mobile-width-only) {
    width: 13px;
    margin-right: 34px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}

.social__item--instagram {
  @media (max-width: $mobile-width-only) {
    margin-right: 27px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 25px;
  }
}

.social__link {
  display: flex;
  width: 30px;
  height: 50px;
  align-items: center;
  justify-content: center;

  fill: #666666;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    height: auto;
    justify-content: initial;
  }
}

.social__link:not(.social__link--facebook):hover {
  fill: #68b738;
}

.social__link--facebook {
  fill: transparent;
  stroke: #666666;

  &:hover {
    stroke: #68b738;
  }

  @media (min-width: $tablet-width) {
    svg {
      width: 15px;
      height: 29px;
    }
  }
}

.social__link--vk {
  @media (min-width: $tablet-width) {
    svg {
      width: 29px;
      height: 18px;
    }
  }
}

.social__link--instagram {
  @media (min-width: $tablet-width) {
    margin-left: 4px;

    svg {
      width: 23px;
      height: 23px;
    }
  }
}
