.switcher {
  position: relative;
  z-index: 10;

  display: flex;
  padding: 5px;
  justify-content: center;
}

.switcher__before {
  padding: 0;
  margin-right: 122px;

  @media (min-width: $tablet-width) {
    position: relative;
    left: 4px;

    margin-right: 476px;
  }
}

.switcher__after {
  padding: 0;
}

.switcher__track {
  position: absolute;
  left: calc(50% - 43px);
  top: calc(50% - 7px);

  width: 86px;
  height: 14px;

  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    left: calc(50% - 213px);
    top: calc(50% - 3px);

    width: 426px;
    height: 6px;

    background-color: #dcdcdc;
    border: none;
  }

  &::after {
    content: "";
    position: absolute;
    left: calc(50% - 37px);
    top: calc(50% - 3px);

    width: 36px;
    height: 6px;

    background-color: #68b738;
    border-radius: 6px;

    @media (min-width: $tablet-width) {
      left: calc(50% - 4px);
      top: calc(50% - 4px);
      z-index: 2;

      width: 8px;
      height: 8px;

      border-radius: 50%;
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      left: calc(50% - 17px);
      top: calc(50% - 17px);

      width: 34px;
      height: 34px;

      background-color: #ffffff;
      border: 1px solid #cdcdcd;
      border-radius: 50%;
      box-shadow: 0 1px 3px rgba(#000000, 0.16);
    }
  }

  &:hover::before {
    box-shadow: 0 2px 4px rgba(#000000, 0.19);
  }

  &:active::before {
    box-shadow: 0 3px 5px rgba(#000000, 0.2);
    border-color: #68b738;
  }
}

.switcher__track:hover ~ .switch-number {
  border-bottom-style: solid;
}

.switcher__track:active ~ .switch-number {
  border-bottom-color: transparent;
}
