@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.button {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #68b738;
  border: none;
}

.page__body {
  margin: 0;
  min-width: 320px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .page__body {
    font-size: 16px;
    line-height: 24px;
  }
}

.page-header {
  position: relative;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-header {
    padding: 24px 30px 0;
  }
}
@media (min-width: 1440px) {
  .page-header {
    width: 1440px;
    padding: 53px 110px 0;
  }
}

.page-header--inner {
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .page-header--inner {
    border-bottom: none;
  }
}

.page-header__logo {
  text-decoration: none;
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1.5px;
  width: 24px;
  background-color: #000000;
  box-shadow: 0 7px 0 0 #000000, 0 -7px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1.5px;
  width: 24px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}
.main-nav--nojs .main-nav__list {
  display: block;
}

.main-nav--nojs .main-nav__toggle {
  visibility: hidden;
}

.main-nav__wrapper {
  display: flex;
  padding: 10px 20px 17px;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    padding: 0;
  }
}

.main-nav__list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  min-height: 198px;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .main-nav__list {
    position: static;
    display: flex;
    min-height: auto;
  }
}

.main-nav__item {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  list-style-type: none;
}
@media (min-width: 768px) {
  .main-nav__item {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
}
@media (min-width: 1440px) {
  .main-nav__item {
    background-color: transparent;
  }
}
.main-nav__item:nth-child(odd) {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .main-nav__item:nth-child(odd) {
    border: none;
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 22px 45px 24px;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .main-nav__link {
    padding: 10px 16px;
  }
}

@media (min-width: 768px) {
  .main-nav__link--active::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 16px;
    left: 16px;
    height: 2px;
    background-color: #68b738;
  }
}

@media (min-width: 1440px) {
  .main-nav__link--main {
    color: #ffffff;
  }
}

@media (min-width: 1440px) {
  .main-nav__link--main::before {
    background-color: #ffffff;
  }
}

.main-nav__logo {
  text-decoration: none;
}
@media (min-width: 768px) {
  .main-nav__logo {
    display: flex;
  }
}

.main-nav__logo--img {
  height: 38px;
}
@media (min-width: 768px) {
  .main-nav__logo--img {
    margin-right: 12px;
    height: 50px;
  }
}
@media (min-width: 1440px) {
  .main-nav__logo--img {
    height: 59px;
  }
}

.main-nav__logo--text {
  height: 19px;
}

@media (min-width: 768px) {
  .main-nav__cat {
    width: 61px;
    height: 50px;
  }
}
@media (min-width: 1440px) {
  .main-nav__cat {
    width: 70px;
    height: 59px;
  }
}

.main-nav__toggle {
  position: relative;
  display: block;
  width: 24px;
  height: 19px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.promo {
  position: relative;
  color: #ffffff;
  background-image: url("../../img/promo-background-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
}
@media (min-width: 768px) {
  .promo {
    background-image: none;
  }
}
@media (min-width: 1440px) {
  .promo {
    top: -113px;
    width: 1440px;
    margin: 0 auto;
    margin-bottom: -113px;
    background-image: url("../../img/promo-background-desktop.png");
    background-position: 100% 50%;
  }
}

.promo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 302px;
  background-color: rgba(104, 183, 56, 0.85);
}
@media (min-width: 768px) {
  .promo::before {
    display: none;
  }
}

.promo__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 27px 20px 20px;
}
@media (min-width: 768px) {
  .promo__wrapper {
    position: relative;
    width: 100%;
    padding: 62px 30px 526px;
  }
}
@media (min-width: 1440px) {
  .promo__wrapper {
    width: 1440px;
    height: 694px;
    padding: 145px 110px 60px;
  }
}

@media (min-width: 768px) {
  .promo__image {
    position: absolute;
    top: 263px;
    left: calc(50% - 354.5px);
    z-index: -3;
    width: 709px;
    height: auto;
  }
}
@media (min-width: 1440px) {
  .promo__image {
    top: 141px;
    left: 558px;
    z-index: auto;
    width: 552px;
    height: auto;
  }
}

.promo__button {
  display: block;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .promo__button {
    display: inline-block;
    margin-left: 87px;
    padding: 17px 26px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .promo__button {
    margin-left: 80px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 768px) {
  .promo__title {
    margin-left: 87px;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #000000;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .promo__title {
    margin: 78px 0 40px 80px;
  }
}

.promo__slogan {
  margin: 0;
  margin-bottom: 29px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .promo__slogan {
    margin-left: 87px;
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .promo__slogan {
    margin-left: 80px;
    margin-bottom: 52px;
  }
}

.catalog-sections {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .catalog-sections {
    padding-bottom: 45px;
  }
}
@media (min-width: 1440px) {
  .catalog-sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding-top: 82px;
    padding-bottom: 71px;
  }
}

.catalog-sections__card {
  padding: 30px 20px 22px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .catalog-sections__card {
    padding: 77px 62px 52px 52px;
  }
}
@media (min-width: 1440px) {
  .catalog-sections__card {
    margin-bottom: 0;
    padding: 77px 52px 59px;
  }
}

.catalog-sections__card:last-child {
  margin-bottom: 0;
}

.catalog-sections__title {
  position: relative;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 69px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-sections__title {
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .catalog-sections__title {
    margin-bottom: 73px;
    padding-left: 162px;
  }
}
.catalog-sections__title::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 2px;
  width: 67px;
  height: 53px;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .catalog-sections__title::before {
    top: auto;
    left: auto;
  }
}

.catalog-sections__card:nth-of-type(1) .catalog-sections__title::before {
  background-image: url("../../img/icons/catalog-slim.svg");
}
@media (min-width: 768px) {
  .catalog-sections__card:nth-of-type(1) .catalog-sections__title::before {
    right: 0;
    top: 4px;
    width: 200px;
    height: 211px;
    background-image: url("../../img/icons/catalog-slim-tablet.svg");
  }
}
@media (min-width: 1440px) {
  .catalog-sections__card:nth-of-type(1) .catalog-sections__title::before {
    left: 0;
    top: -36px;
    width: 100px;
    height: 106px;
    background-image: url("../../img/icons/catalog-slim-desktop.svg");
  }
}

.catalog-sections__card:nth-of-type(2) .catalog-sections__title::before {
  left: -7px;
  background-image: url("../../img/icons/catalog-pro.svg");
}
@media (min-width: 768px) {
  .catalog-sections__card:nth-of-type(2) .catalog-sections__title::before {
    left: auto;
    top: 14px;
    right: -34px;
    width: 268px;
    height: 200px;
    background-image: url("../../img/icons/catalog-pro-tablet.svg");
  }
}
@media (min-width: 1440px) {
  .catalog-sections__card:nth-of-type(2) .catalog-sections__title::before {
    left: -19px;
    top: -30px;
    width: 134px;
    height: 100px;
    background-image: url("../../img/icons/catalog-pro-desktop.svg");
  }
}

.catalog-sections__text {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  font-family: "Arial", sans-serif;
  color: #444444;
}
@media (min-width: 768px) {
  .catalog-sections__text {
    margin-bottom: 52px;
    padding-bottom: 0;
    padding-right: 254px;
    color: #000000;
    border: none;
  }
}
@media (min-width: 1440px) {
  .catalog-sections__text {
    margin-bottom: 27px;
    padding-right: 0;
  }
}

.catalog-sections__link {
  position: relative;
  display: block;
  margin-top: 19px;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-sections__link {
    margin-top: 0;
    font-size: 20px;
    line-height: 30px;
  }
}
.catalog-sections__link::after {
  content: "";
  position: absolute;
  top: calc(50% - 6px);
  display: inline-block;
  width: 24px;
  height: 12px;
  margin-left: 17px;
  background-image: url("../../img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .catalog-sections__link::after {
    margin-left: 25px;
  }
}

.process {
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .process {
    padding-bottom: 104px;
  }
}

.process__list {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .process__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 134px 180px;
    counter-reset: process;
  }
}
@media (min-width: 1440px) {
  .process__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 109px;
  }
}

.process__list .process__item:nth-child(1)::before {
  background-image: url("../../img/icons/process-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.process__list .process__item:nth-child(2)::before {
  background-image: url("../../img/icons/process-2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.process__list .process__item:nth-child(3)::before {
  background-image: url("../../img/icons/process-3.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.process__list .process__item:nth-child(4)::before {
  background-image: url("../../img/icons/process-4.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.process__item {
  position: relative;
  min-height: 54px;
  padding-left: 80px;
  margin-bottom: 26px;
  font-family: "Arial", sans-serif;
  color: #444444;
  list-style-type: none;
  counter-increment: process;
}
@media (min-width: 768px) {
  .process__item {
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 110px;
  }
}
.process__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .process__item::before {
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 768px) {
  .process__item::after {
    content: counter(process);
    position: absolute;
    top: 0;
    right: 18px;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 200px;
    color: #f2f2f2;
    z-index: -3;
  }
}
@media (min-width: 1440px) {
  .process__item::after {
    right: -18px;
  }
}

.process__item:last-child {
  margin-bottom: 0;
}

.process__title {
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .process__title {
    margin-bottom: 72px;
  }
}

.section-title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 60px;
    line-height: 60px;
  }
}

.review {
  position: relative;
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .review {
    position: relative;
    z-index: -2;
    background-color: #ffffff;
    padding-top: 43px;
    padding-bottom: 55px;
  }
  .review::before {
    content: "";
    position: absolute;
    top: 619px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #eaeaea;
  }
}
@media (min-width: 1440px) {
  .review {
    display: grid;
    padding-top: 0;
    padding-bottom: 65px;
    grid-template-columns: 436px auto;
    column-gap: 194px;
  }
  .review::before {
    top: 136px;
    background-color: #f2f2f2;
  }
}

@media (min-width: 768px) {
  .review__wrapper {
    display: grid;
    margin-bottom: 80px;
    grid-template-columns: auto auto;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .review__wrapper {
    margin-bottom: 0;
    grid-column: 1/2;
    grid-row: 2/4;
  }
}

.review__title {
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .review__title {
    margin-bottom: 63px;
  }
}
@media (min-width: 1440px) {
  .review__title {
    margin-bottom: 146px;
  }
}

.review__text {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  color: #444444;
}
@media (min-width: 768px) {
  .review__text {
    margin-bottom: 54px;
    grid-column: 1/-1;
  }
}
@media (min-width: 1440px) {
  .review__text {
    margin-bottom: 69px;
  }
}

.review__list {
  display: grid;
  margin: 0;
  margin-bottom: 20px;
  grid-template-columns: 124px 124px;
  column-gap: 32px;
  justify-content: center;
}
@media (min-width: 768px) {
  .review__list {
    grid-template-columns: 162px 162px;
    margin-bottom: 0;
    column-gap: 42px;
    justify-content: start;
  }
}
@media (min-width: 1440px) {
  .review__list {
    margin-bottom: 60px;
    grid-column: 1/-1;
  }
}

.review__term {
  position: relative;
  top: -9px;
  width: 87px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .review__term {
    width: 114px;
    font-size: 14px;
    line-height: 1;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .review__term {
    background-color: #f2f2f2;
  }
}
@media (min-width: 768px) {
  .review__term:nth-of-type(2) {
    width: 142px;
  }
}

@media (min-width: 768px) {
  .review__term br {
    display: none;
  }
}

.review__definition {
  display: flex;
  height: 56px;
  margin: 0;
  order: -1;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .review__definition {
    height: 72px;
    font-size: 30px;
    line-height: 37px;
  }
}

.review__cost {
  margin: 0;
  margin-bottom: 40px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .review__cost {
    width: 175px;
    margin-bottom: 0;
    justify-self: end;
    font-size: 20px;
    line-height: 29px;
    text-align: end;
  }
}
@media (min-width: 1440px) {
  .review__cost {
    width: 436px;
    text-align: start;
    justify-self: auto;
  }
}

@media (min-width: 1440px) {
  .review__images {
    grid-row: 1/3;
    grid-column: 2/3;
  }
}

@media (min-width: 1440px) {
  .review__switcher {
    grid-column: 2/3;
  }
}

.switcher {
  position: relative;
  display: flex;
  padding: 5px;
  justify-content: center;
}

.switcher__before {
  padding: 0;
  padding-right: 122px;
}
@media (min-width: 768px) {
  .switcher__before {
    padding-right: 476px;
  }
}
.switcher__before::before {
  content: "";
  position: absolute;
  left: calc(50% - 43px);
  top: calc(50% - 7px);
  width: 86px;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .switcher__before::before {
    left: calc(50% - 213px);
    top: calc(50% - 3px);
    width: 426px;
    height: 6px;
    background-color: #dcdcdc;
    border: none;
  }
}
.switcher__before::after {
  content: "";
  position: absolute;
  left: calc(50% - 37px);
  top: calc(50% - 3px);
  width: 36px;
  height: 6px;
  background-color: #68b738;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .switcher__before::after {
    left: calc(50% - 4px);
    top: calc(50% - 4px);
    z-index: 2;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}

.switcher__after {
  padding: 0;
}
@media (min-width: 768px) {
  .switcher__after::before {
    content: "";
    position: absolute;
    left: calc(50% - 17px);
    top: calc(50% - 17px);
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
  }
}

.switch-number {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}
@media (min-width: 768px) {
  .switch-number {
    font-size: 20px;
    line-height: 30px;
  }
}

.address {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .address {
    max-width: 1440px;
    height: 400px;
  }
}

.address__content {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 26px 20px;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .address__content {
    padding: 56px 70px;
  }
}
@media (min-width: 1440px) {
  .address__content {
    position: absolute;
    left: 110px;
    top: 95px;
    z-index: 10;
    width: 565px;
    padding: 56px 80px;
    background-color: #ffffff;
  }
}

.address__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .address__title {
    font-size: 20px;
    line-height: 26px;
  }
}

.address__geo {
  margin: 0;
  font-family: "Arial", sans-serif;
  line-height: 20px;
  color: #444444;
}
@media (min-width: 768px) {
  .address__geo {
    text-align: end;
  }
}

.address__map {
  width: 100%;
  height: 362px;
}
@media (min-width: 768px) {
  .address__map {
    height: 400px;
  }
}

.address--inner {
  background-color: #f2f2f2;
}

.page-footer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 39px 20px 22px;
  flex-direction: column;
}
@media (max-width: 767px) {
  .page-footer__wrapper::before {
    content: "";
    position: absolute;
    top: 95px;
    left: 20px;
    right: 20px;
    height: 1px;
    background-color: #d9d9d9;
  }
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    display: flex;
    padding: 58px 30px 55px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .page-footer__wrapper {
    width: 1440px;
    padding: 58px 110px;
  }
}

@media (min-width: 768px) {
  .page-footer__wrapper--form {
    padding-right: 70px;
    padding-left: 70px;
  }
}

.page-footer__logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 32px;
}
@media (min-width: 768px) {
  .page-footer__logo {
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .page-footer__logo-text {
    align-self: center;
  }
}

.social {
  display: flex;
  margin: 0 auto;
  padding: 20px 0;
}
@media (min-width: 768px) {
  .social {
    padding: 0;
    margin: 0;
  }
}

.social__item {
  list-style-type: none;
}

.social__item--vk {
  width: 23px;
  height: 13px;
  margin-right: 36px;
}

.social__item--instagram {
  width: 16px;
  height: 16px;
  margin-right: 33px;
}

.social__item--facebook {
  width: 13px;
  height: 20px;
}

.social__link {
  display: block;
  fill: #666666;
}

.social__link--vk {
  width: 23px;
  height: 13px;
}

.social__link--instagram {
  width: 16px;
  height: 16px;
}

.social__link--facebook {
  width: 13px;
  height: 20px;
}

.copyright {
  display: flex;
  padding-top: 22px;
  align-items: center;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #444444;
  text-decoration: none;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .copyright {
    display: flex;
    align-items: center;
    padding: 0;
    border-top: none;
  }
}

.copyright__logo {
  margin-left: 22px;
}

.page-main__section {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .page-main__section {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 1440px) {
  .page-main__section {
    width: 1440px;
    padding-right: 110px;
    padding-left: 110px;
  }
}

.page-main__catalog {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-main__catalog {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .page-main__catalog {
    width: 1440px;
    padding: 0 110px;
  }
}

.page-main__title {
  margin: 27px 0 0 20px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .page-main__title {
    margin: 65px 0 85px 70px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .page-main__title {
    margin: 74px 0 165px;
    padding: 0 110px;
  }
}

.page-main__title--catalog {
  padding-bottom: 41px;
}
@media (min-width: 768px) {
  .page-main__title--catalog {
    margin-left: 30px;
    margin-bottom: 163px;
    padding-bottom: 0;
    border-bottom: none;
  }
}
@media (min-width: 1440px) {
  .page-main__title--catalog {
    margin-left: 110px;
    margin-bottom: 165px;
    padding: 0;
  }
}

.page-main__title--form {
  margin-bottom: 37px;
}
@media (min-width: 1440px) {
  .page-main__title--form {
    margin-bottom: 56px;
  }
}

.page-main__text {
  margin: 37px 0 39px 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .page-main__text {
    margin: 54px 0 66px 70px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .page-main__text {
    width: 1440px;
    margin: 0 auto 66px;
    padding: 0 110px;
  }
}

.card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 20px 25px;
  border-bottom: 1px solid #ededed;
}
@media (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: none;
    grid-template-rows: none;
    padding: 161px 39px 39px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .card {
    justify-content: flex-end;
  }
}

.card__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  margin-bottom: 22px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .card__list {
    width: 100%;
    margin-bottom: 33px;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .card__item-title {
    padding: 7px 0 9px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.card__item-definition {
  margin: 0;
  text-align: right;
}
@media (min-width: 768px) {
  .card__item-definition {
    padding: 7px 0 9px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.card__link {
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
}

.card__title {
  width: 80px;
  margin: 0;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .card__title {
    width: 140px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .card__title {
    line-height: 21px;
  }
}

.card__picture {
  position: relative;
  grid-row: 1/3;
}

.card__img {
  position: absolute;
  grid-row: 1/3;
  align-self: center;
  margin: 0 auto;
}

.card__img--small {
  left: calc(50% - 36px);
  bottom: 17px;
}
@media (min-width: 768px) {
  .card__img--small {
    bottom: auto;
    top: -206px;
    left: calc(50% - 81.5px);
    width: 163px;
    height: 172px;
  }
}

.card__img--big {
  left: calc(50% - 42px);
  bottom: 13px;
}
@media (min-width: 768px) {
  .card__img--big {
    bottom: auto;
    top: -234px;
    left: calc(50% - 84px);
    width: 168px;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .card__img--big {
    top: -240px;
    width: 172px;
  }
}

.card__button {
  display: block;
  grid-column: 1/3;
  align-self: center;
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .card__button {
    padding: 10px 93px;
  }
}
@media (min-width: 1440px) {
  .card__button {
    padding: 10px 53px;
  }
}

.show-more {
  position: relative;
  padding: 78px 20px 25px;
}
@media (min-width: 768px) {
  .show-more {
    padding: 161px 39px 39px;
    border: 2px solid #f2f2f2;
  }
}
.show-more::before, .show-more::after {
  content: "";
  position: absolute;
  top: 40px;
  left: calc(50% - 15px);
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
}
@media (min-width: 768px) {
  .show-more::before, .show-more::after {
    top: 82px;
    left: calc(50% - 30px);
    width: 60px;
  }
}
.show-more::after {
  transform: rotate(90deg);
}

.show-more__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  color: #111111;
}
@media (min-width: 768px) {
  .show-more__title {
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }
}

.show-more__text {
  margin: 0;
  margin-bottom: 21px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}
@media (min-width: 768px) {
  .show-more__text {
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
  }
}
@media (min-width: 1440px) {
  .show-more__text {
    min-width: 167px;
  }
}

.show-more__button {
  display: block;
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
}

.catalog-additional {
  padding: 25px 20px 0;
}
@media (min-width: 768px) {
  .catalog-additional {
    padding: 68px 30px 76px;
  }
}
@media (min-width: 1440px) {
  .catalog-additional {
    display: grid;
    width: 1440px;
    grid-template-columns: 1fr 245px;
    column-gap: 79px;
    padding: 75px 110px 86px;
  }
}

.catalog-additional__list {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .catalog-additional__list {
    margin-bottom: 69px;
  }
}
@media (min-width: 1440px) {
  .catalog-additional__list {
    margin-bottom: 0;
  }
}

.catalog-additional__title {
  position: relative;
  margin: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .catalog-additional__title {
    margin-left: 37px;
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .catalog-additional__title {
    margin-left: 0;
    grid-column: 1/-1;
  }
}
.catalog-additional__title::before {
  content: "";
  position: absolute;
  left: 247px;
  right: -20px;
  top: 14px;
  height: 2px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .catalog-additional__title::before {
    top: 22px;
    left: 374px;
    right: -30px;
  }
}
@media (min-width: 1440px) {
  .catalog-additional__title::before {
    right: -110px;
  }
}
@media (min-width: 768px) {
  .catalog-additional__title::after {
    content: "";
    position: absolute;
    top: 22px;
    left: -67px;
    width: 30px;
    height: 2px;
    background-color: #68b738;
  }
}
@media (min-width: 1440px) {
  .catalog-additional__title::after {
    left: -110px;
    width: 70px;
  }
}

.card-row {
  padding: 13px 0 19px;
  border-bottom: 1px solid #cdcdcd;
  list-style-type: none;
}
@media (min-width: 768px) {
  .card-row {
    display: grid;
    padding: 26px 38px 28px;
    grid-template-columns: 1fr 1fr;
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .card-row {
    display: flex;
    align-items: center;
    padding: 15px 0 17px;
    border-right: none;
    border-left: none;
  }
}

.card-row:first-of-type {
  border-top: 1px solid #cdcdcd;
}

.card-row__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .card-row__list {
    justify-content: flex-end;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .card-row__list {
    display: flex;
    width: 288px;
    justify-content: space-between;
    margin-right: 38px;
  }
}

.card-row__definition {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
@media (min-width: 768px) {
  .card-row__definition {
    margin-left: 49px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

.card-row__title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .card-row__title {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .card-row__title {
    width: 250px;
    margin-bottom: 0;
    margin-right: 74px;
  }
}

.card-row__button {
  display: block;
  padding: 10px 0;
  line-height: 20px;
}
@media (min-width: 768px) {
  .card-row__button {
    grid-column: 1/-1;
  }
}
@media (min-width: 1440px) {
  .card-row__button {
    padding: 10px 92px;
  }
}

.present {
  position: relative;
  display: flex;
  width: 100%;
  height: 289px;
  margin: 35px auto;
  align-items: flex-end;
  background-image: url("../../img/catalog/present.png");
}
@media (min-width: 768px) {
  .present {
    height: 200px;
    margin: 0 auto;
    background-image: url("../../img/catalog/present-tablet.png");
  }
}
@media (min-width: 1440px) {
  .present {
    height: 289px;
    background-image: url("../../img/catalog/present.png");
  }
}
.present::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 289px;
  background-color: rgba(104, 183, 56, 0.85);
}
@media (min-width: 768px) {
  .present::before {
    width: 100%;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .present::before {
    height: 289px;
  }
}
.present::after {
  content: "";
  position: absolute;
  top: 59px;
  left: calc(50% - 39px);
  width: 78px;
  height: 80px;
  background-image: url("../../img/icons/present.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .present::after {
    left: 77px;
  }
}

.present__text {
  position: relative;
  margin: 0 auto 43px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .present__text {
    margin: auto 124px auto auto;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .present__text {
    margin: 0 auto 43px;
    text-align: center;
  }
}

.field {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 13px;
  align-items: center;
}
@media (min-width: 768px) {
  .field {
    column-gap: 15px;
  }
}

.field--comment {
  display: block;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .field--comment {
    margin-bottom: 65px;
  }
}

.field__label {
  font-size: 16px;
  text-transform: uppercase;
}

.field__input {
  padding: 13px 15px;
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
}

.field__input--comment {
  width: 100%;
  padding: 9px 12px 13px 15px;
}

.field-group {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

.field-group--cat {
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .field-group--cat {
    padding-bottom: 72px;
  }
}
@media (min-width: 1440px) {
  .field-group--cat {
    padding-bottom: 0;
  }
}

.field-group--target {
  padding: 28px 0 51px;
}
@media (max-width: 767px) {
  .field-group--target::before, .field-group--target::after {
    content: "";
    position: absolute;
    right: -20px;
    left: -20px;
    height: 1px;
    background-color: #d9d9d9;
  }
  .field-group--target::before {
    top: 0;
  }
  .field-group--target::after {
    bottom: 26px;
  }
}
@media (min-width: 768px) {
  .field-group--target {
    margin-bottom: 75px;
    padding: 25px 28px;
    border: 1px solid #e7e7e7;
  }
}
@media (min-width: 1440px) {
  .field-group--target {
    margin-bottom: 0;
  }
}

.field-group--contacts {
  padding-bottom: 24px;
}
@media (min-width: 1440px) {
  .field-group--contacts {
    padding-bottom: 67px;
  }
}

.field-group__title {
  display: block;
  margin-bottom: 35px;
  padding: 0;
  font-size: 24px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .field-group__title {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }
}
.field-group__title::before {
  content: "";
  position: absolute;
  right: -20px;
  top: 13px;
  height: 2px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .field-group__title::before {
    top: 22px;
    left: 374px;
    right: -70px;
  }
}
@media (min-width: 1440px) {
  .field-group__title::before {
    right: -110px;
  }
}
@media (min-width: 768px) {
  .field-group__title::after {
    content: "";
    position: absolute;
    top: 22px;
    left: -70px;
    width: 30px;
    height: 2px;
    background-color: #68b738;
  }
}
@media (min-width: 1440px) {
  .field-group__title::after {
    left: -110px;
    width: 70px;
  }
}

.field-group--contacts .field-group__title {
  max-width: 280px;
}
@media (min-width: 768px) {
  .field-group--contacts .field-group__title {
    max-width: none;
  }
}
.field-group--contacts .field-group__title::before {
  left: 201px;
}
@media (min-width: 768px) {
  .field-group--contacts .field-group__title::before {
    left: 554px;
  }
}

.field-group--comments .field-group__title::before {
  left: 142px;
}
@media (min-width: 768px) {
  .field-group--comments .field-group__title::before {
    left: 222px;
  }
}

@media (min-width: 768px) {
  .field-group--additional .field-group__title {
    margin-bottom: 62px;
  }
}
.field-group--additional .field-group__title::before {
  left: 163px;
}
@media (min-width: 768px) {
  .field-group--additional .field-group__title::before {
    left: 251px;
  }
}

.field-group__list {
  margin: 0;
  padding: 0;
  color: #444444;
  text-transform: uppercase;
}

@media (min-width: 1440px) {
  .field-group--contacts .field-group__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
  }
}

.field-group--additional .field-group__list {
  margin-bottom: 41px;
}
@media (min-width: 768px) {
  .field-group--additional .field-group__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 42px;
  }
}
@media (min-width: 1440px) {
  .field-group--additional .field-group__list {
    grid-template-columns: repeat(4, 260px);
    column-gap: 64px;
  }
}

.field-group__item {
  position: relative;
  margin-bottom: 14px;
  list-style-type: none;
}
@media (min-width: 1440px) {
  .field-group__item {
    margin-bottom: 20px;
  }
}

@media (min-width: 1440px) {
  .field-group--contacts .field-group__item {
    margin-bottom: 0;
  }
}

.field-group__item--radio {
  margin-bottom: 25px;
  padding-left: 45px;
}

.field-group__item--checkbox {
  margin-bottom: 25px;
  padding-left: 45px;
}
@media (min-width: 768px) {
  .field-group__item--checkbox {
    margin-bottom: 0;
  }
}

.field-group__item:last-of-type {
  margin-bottom: 0;
}

.control--radio {
  color: #222222;
}

.control-checkbox {
  color: #000000;
}

.control__mark {
  position: absolute;
  left: 0;
  top: calc(50% - 15px);
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}

.control__mark--radio {
  border-radius: 50%;
}

.control__input[type=radio]:checked + .control__mark--radio::before {
  content: "";
  position: absolute;
  left: calc(50% - 6.75px);
  top: calc(50% - 6.75px);
  width: 13.5px;
  height: 13.5px;
  background-color: #68b738;
  border-radius: 50%;
}

.control__input[type=checkbox]:checked + .control__mark--checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 14.5px);
  width: 29px;
  height: 29px;
  background-image: url("../../img/icons/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .form {
    padding: 0 70px 72px;
  }
}
@media (min-width: 1440px) {
  .form {
    padding: 0 110px 82px;
  }
}

@media (min-width: 1440px) {
  .form__wrapper {
    display: grid;
    margin-bottom: 69px;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__additional {
  margin: 0;
  margin-bottom: 32px;
  font-family: "Arial", sans-serif;
  line-height: 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .form__additional {
    display: inline-block;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 21px;
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .form__button {
    width: 282px;
    margin-right: 61px;
    padding: 14px 0;
    font-size: 20px;
    line-height: 26px;
  }
}
@media (min-width: 1440px) {
  .form__button {
    width: 568px;
    margin-right: 81px;
  }
}

.catalog-list {
  border-top: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .catalog-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 141px;
    border-top: none;
  }
}
@media (min-width: 1440px) {
  .catalog-list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 143px;
  }
}
/*# sourceMappingURL=style.css.map */